@import '~css/core/global.scss';

@media (min-width: 320px) {
	$input-search-box-height: $input-height-base;
	$input-search-box-width: 25rem;
	$form-bg-color: $input-bg;
	$input-font-size: $input-font-size-huge;

	player-search {
		display: inline-block;
		
		.form-search {
			float: none;
			position: relative;
			border: 0;

			.btn-submit {
				color: $navbar-default-link-active-color;
				font-size: 1.5rem;
			}

			.dropdown-menu {
				box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 8px 0px;
				transform: translatey(0rem);
				max-height: none;
				background-color: white;
				opacity: 1;
				> li.active a {
					color: $inverse;
				}
				> li a {
					color: #444;
					line-height: 3;
				}
			}
			
			.form-group {
				background-color: $form-bg-color;
				border-radius: 3px;
				position: relative;
			}

			input.form-control {
				width: $input-search-box-width;
				height: $input-search-box-height;
				border: none;
				box-shadow: none;
				font-size: $input-font-size;
			}
		}

		.ta-results {
			position: absolute;
			top: $input-search-box-height;
			z-index: 10;
			box-shadow: 0rem 0.3rem 3rem -0.5rem rgba(0,0,0,.5);

			.ta-item {
				border-radius: 0;

				&.active {
					background-color: var(--brand-primary);
					border-color: var(--brand-primary);
				}
			}
		}
	}
}

@media (min-width: 460px) {
	player-search {	
		.form-search {
			input.form-control {
				display: inline-block;
			}
		}
	}
}

@media (min-width: 768px) {
	player-search {
		
	}
}