@import '~css/core/global.scss';

@media (min-width: 320px) {
	$input-search-box-height: $input-height-base;
	$input-search-box-width: 35vw;
	$search-box-width-large: 50vw;
	$form-bg-color: $input-bg;
	$input-font-size: $input-font-size-huge;

	player-search {
		display: inline-block;
		
		.form-search {
			position: relative;
			border: 0;
			background-color: $form-bg-color;
			border-radius: 3px;
			padding: .5rem;

			&:hover .form-control,
			&:focus-within .form-control {
				width: $search-box-width-large;
			}

			input.form-control {
				border: none;
				box-shadow: none;
				font-size: $input-font-size;
				background-color: transparent;
				flex: 1;
				width: $input-search-box-width;
				transition: width .3s ease-out;
			}

			.btn-submit {
				color: $navbar-default-link-active-color;
				font-size: 1.5rem;
			}

			.dropdown-menu {
				box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 8px 0px;
				transform: translatey(0rem);
				max-height: none;
				background-color: white;
				opacity: 1;
				> li.active a {
					color: $inverse;
				}
				> li a {
					color: #444;
					line-height: 3;
				}
			}
		}

		.ta-results {
			position: absolute;
			top: 100%;
			left: 50%;
			transform: translateX(-50%);
			width: 80%;
			z-index: 10;
			box-shadow: 0rem 0.3rem 3rem -0.5rem rgba(0,0,0,.5);

			.ta-item {
				border-radius: 0;

				&.active {
					background-color: var(--brand-primary);
					border-color: var(--brand-primary);
				}
			}
		}
	}
}

// @media (min-width: 460px) {
// 	player-search {	

// 	}
// }

@media (min-width: 768px) {
	player-search {
		display: flex;
		align-items: center;
		flex-direction: column;
	}
}