@import '../../../css/core/global.scss';

@media (min-width: 320px) {
	player-search {
		display: inline-block;
		
		.form-search {
			float: none;
			margin: 0 5px 0 0;
			position: relative;
			border: 0;

			.btn-submit {
				position: absolute;
				right: 0rem;
				top: 0;
				padding: 0.4rem 1rem 0.7rem 1rem;
				color: $navbar-default-link-active-color;
			}

			.dropdown-menu {
				box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 8px 0px;
				transform: translatey(0rem);
				max-height: none;
				background-color: white;
				opacity: 1;
				> li.active a {
					color: $inverse;
				}
				> li a {
					color: #444;
					line-height: 3;
				}
			}
			
			.form-group {
				background-color: $input-bg;
				border-radius: 3px;
				position: relative;
			}

			input.form-control {
				width: 25rem;
				line-height: 2rem;
				height: 3.2rem;
				border: none;
				box-shadow: none;
			}
		}


		.results {
			position: absolute;
			top: 4rem;
			z-index: 10;
			box-shadow: 0rem 0.3rem 3rem -0.5rem rgba(0,0,0,.5);
		}
	}
}

@media (min-width: 460px) {
	player-search {	
		.form-search {
			input.form-control {
				display: inline-block;
			}
			.btn-submit {
				position: relative;
				top: 0;
				right: auto;
			}
		}
	}
}

@media (min-width: 768px) {
	player-search {
		.form-group {
			margin: 0.9rem 0;			
		}
	}
}