@import '../../../css/core/global.scss';

youtube-videos {
	display: block;
}
youtube-videos {

	.nav-toolbar {
		margin: 0.9rem .5rem;
		display: inline-block;
	}
}

@media (min-width: 320px) {
	youtube-videos {
		padding-top: 11rem;
		position: relative;

		.nav-toolbar {
			.btn {
				padding: 1rem 2.7rem;
			}
		}
	}
}

@media (min-width: 768px) {
	youtube-videos {
		padding-top: 10rem;
		padding-left: 0;

		.nav-toolbar {
			.btn {
				padding: 0.7rem 1.5rem;
			}
		}
		.videos-list {
			padding-left: 1.6rem;
		}
	}
}
