.twilight {
  --brand-primary: rgb(252, 54, 63);
  --brand-secondary: #0277bd;
  --brand-success: #8bc34a;
  --brand-warning: #f1c40f;
  --brand-danger: #e74c3c;
  --brand-info: rgb(120, 165, 0);
  --sidebar-bg: rgb(46, 41, 47);
  --sidebar-bg-secondary: rgb(32, 30, 33);
  --sidebar-text: white;
  --sidebar-text-lighter: #c9c7c7;
  --brand-inverse-text: white;
  --brand-primary-lite-bg-color: white;
  --brand-primary-text-color: #9e9e9e;
  --brand-dark-bg-color: #000;
  --brand-dark-bg-color-transparent: rgba(10, 10, 10, 0.7);
  --brand-bg-lite-transparent: #271d1acf;
  --link-primary-color: var(--brand-primary);
  --link-primary-hover-color: var(--brand-primary);
  --navbar-bg-color: rgba(46, 41, 47, 0.8);
  --navbar-text-color: #c5c5c5;
  --navbar-link-color: var(--link-primary-color);
  --list-group-item-text: #b0b6b8;
  --list-group-item-text-hover: dark(#c0c7cb);
  --list-group-item-bg: var(--sidebar-bg);
  --list-group-item-bg-hover: var(--sidebar-bg-secondary);
  --list-group-item-border: var(--sidebar-bg-secondary);
  --player-controls-bar-bg: #222222;
  --media-bg-primary: var(--navbar-bg-color);
  --app-bg-color: var(--sidebar-bg-secondary);
  --app-lite-shadow: 0 0 20px -3px #1a1818;
}
