@import '~css/core/global.scss';

@media (min-width: 320px) {
  :host {
    section {
      position: fixed;
      bottom: 2rem;
      right: 2rem;
      z-index: 1032;
      box-shadow: var(--app-lite-shadow);
      padding: 1rem;
      min-width: 20vw;
      max-width: 20vw;
    }

    article {
      width: 100%;
      max-height: 20vh;
      overflow: auto;
      word-break: break-word;
    }
  }
}
