@import '~css/core/global.scss';

:host {
  display: block;
  padding: 0 2rem;
  position: fixed;
  z-index: $zindex-navbar;
  min-width: 57rem;
  transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  transform: translatey(-20rem);

  &.show-loader {
    transform: translatey(0rem);
  }

  .alert {
    background-color: var(--sidebar-bg);
    box-shadow: 0 0 20px -3px #000;

    &.alert-info {
      color: var(--brand-primary);
    }
  }
}
