@import '../core/global.scss';

// helpers
$sidebar-color: #323538;
$navbar-new-height: 5rem;

@mixin closed-sidebar() {
	.sidebar-left-fixed.closed {
		@include transform(translatex(0rem));

		// + .modal-backdrop {
		// 	display: none;
		// }
	}
}
// the code
@media (min-width: 320px) {
	.sidebar {
		// flex setup
		display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: initial;
    align-self: auto;
		
		height: 100%;
		width: $drawer-width;
		z-index: $zindex-navbar-fixed;
		// by default should be hidden
		transform: translatex(-30rem);
		background-color: $sidebar-color;
		padding-bottom: 30%;
		border: none;
		border-radius: 0;

		transition-timing-function: cubic-bezier(0.65, 0.05, 0.36, 1);

		.navbar-brand {
			float: none;
			width: 100%;
			line-height: $navbar-new-height;
			height: $navbar-new-height;
			padding-left: 1.5rem;
			color: rgb(50, 53, 56);

			.fa {
				font-size: 2.5rem;
				margin: 0 -.3rem;
				color: $clouds;
			}
		}
		// should be displayed
		&.closed {
			// transform: translatex(0px);
			transform: none;
			+ .modal-backdrop {
				display: block;	
			}
		}

		+ .modal-backdrop {
			display: none;
		}

		.navbar {
			margin-bottom: 10px;
			border-bottom: none;
			// position: fixed;
			// top: 0;
			/*width: 29.5rem;*/
			z-index: 1030;
			background-color: rgb(50, 53, 56);
			border-radius: 0;
			border: none;
		}

		.sidebar-pane {
			// hidden for hiding top shadow while exposing bottom shadow
			overflow-y: hidden;

			.nav-header {
				line-height: 26px;
			}
		}
	}
}
@media (min-width: 768px) {
	.sidebar {
		transition: transform, width .3s ease-out;
		transform: none;

		&.closed + .modal-backdrop {
			display: none;
		}
		+ .modal-backdrop {
			display: none;
		}

		&.closed {
			// transform: translatex(-30rem);
			width: $sidebar-closed-width;

			.text {
				display: none;
			}
			.navbar {
				/*width: @sidebar-closed-width;*/
			}
			.navbar-brand {
				/*width: @sidebar-closed-width;*/
				padding: 0;
				text-align: center;
			}
		}
	}
}

.sidebar-left-fixed {
	position: fixed;
	bottom: 0;
	top: 0;
	left: 0;
	margin: 0;
	// padding: 5rem 0 35rem;
	padding: 0rem;
}
.sidebar {

	h3 {
		margin: 0;
	}

	.nav-header {
		color: #efefef;
		text-transform: uppercase;
	}
	.nav .nav-header,
	.nav li + .nav-header,
	.nav-header {
		margin-top: 0;
		padding-left: 15px;
		padding-right: 2px;
		font-size: 10px;
		font-weight: normal;
		text-shadow: none;
		box-shadow: none;
		z-index: 10;
	}

	a {
		color: rgb(201, 199, 199);
		text-shadow: none;
	}

	.active .nav-list li a{
		background: $brand-primary;
	}

	+ .modal-backdrop {
		z-index: 1029;
	}
}

@media (min-width: 1024px) {
	@include closed-sidebar();

	.sidebar {
		// transform: translatex(0px);

		+ .modal-backdrop {
			display: none;
		}
	}
}

.modal-backdrop {
	opacity: .5;
}
