@import '~css/echoes-variables.scss';

:host {
	--media-title-text-color: var(--brand-primary);
	--media-title-shadow: var(--brand-dark-bg-color);
	--media-expand-icon-bg-color: var(--brand-dark-bg-color-transparent);
	$line-height: 5.5rem;

	line-height: 1.5rem;

	.yt-media-title {
		color: var(--media-title-text-color);
		margin: 0 1rem 0 0;
		display: inline-block;
		max-width: 40rem;
		font-size: 1.5rem;
		line-height: $line-height;

		.media-thumb-container {
			position: relative;
			margin-right: 1rem;
			cursor: pointer;

			.media-thumb {
				height: $line-height;
			}
			.fa {
				position: absolute;
				right: 0;
				bottom: 0;
				background: var(--media-expand-icon-bg-color);
			}
		}

		.title {
		    text-shadow: 0px 0px .5rem var(--media-title-shadow);
		    font-size: 2rem;
		}
	}
}
