@import '~css/echoes-variables.scss';

@media (min-width: 320px) {
	:host {
		--media-title-text-color: var(--brand-primary);
		--media-title-shadow: var(--brand-dark-bg-color);
		--media-expand-icon-bg-color: var(--brand-dark-bg-color-transparent);
		$line-height: 6rem;

		line-height: 1.5rem;
		z-index: 100;
		display: flex;
    flex-direction: column;
    justify-content: center;

		.media-info {
			color: var(--media-title-text-color);
			margin: 0;
			justify-content: space-evenly;
			height: 100%;

			.media-thumb-container {
				position: relative;
				cursor: pointer;

				.media-thumb {
					height: $line-height;
				}
				.minimize-icon {
					position: absolute;
					right: 0;
					bottom: 0;
					background: var(--media-expand-icon-bg-color);
				}
			}

			.title {
				text-shadow: 0px 0px .5rem var(--media-title-shadow);
				font-size: 2rem;
				vertical-align: middle;
				flex: 2;
				margin: 0 1rem;
			}

			.more-info-btn {
				max-height: 30px;
				border: none;

				&:hover {
					box-shadow: none;
					opacity: .5;
				}
			}

			.track-info {
				position: absolute;
				bottom: -400px;
				height: 300px;
				width: 300px;
				word-wrap: break-word;
				transition: bottom 0.3s ease-out;
				background-color: var(--brand-dark-bg-color-transparent);
				box-shadow: 1px -1px 2px 0px rgba(0, 0, 0, 1);
				right: 0;
				white-space: pre-line;
				overflow: auto;
				padding: 0 2rem;
				z-index: 1030;
				line-height: 1.5;
				font-size: 1.5rem;

				&.show-info {
					bottom: 65px;
				}
			}

			.list-group-item {
				border: none;
				color: var(--brand-inverse-text);
				padding: 0;

				&:hover {
					color: var(--brand-primary);
				}
			}
		}
	}
}
@media (min-width: 640px) {
	:host {
		.media-info .track-info {
			left: 310px;
			right: auto;
		}
	}
}