@import '~src/css/echoes-variables.scss';

@media (min-width: 320px) {
  :host {
    .is-sticky {
      z-index: $zindex-navbar;
    }

    .track-tracks .list-group-item {
      background-color: var(--brand-dark-bg-color-transparent) !important;
      border-radius: 30px;
      margin: 10px 0;
    }

    .track-tracks .list-group-item:hover {
      color: var(--brand-primary);
    }
  }
}
