:host {
  $user-icon-size: 4rem;
  padding: 0.2rem 0;

  .navbar-link {
    line-height: 4rem;
    margin: 0;
    padding: 0;

    .user-icon {
      width: $user-icon-size;
      height: $user-icon-size;
      vertical-align: middle;
      border-radius: 50%;
      border: 1px solid var(--brand-primary);
      box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
    }
  }

  .sign-in-text {
    margin-right: 0.5rem;
  }
  .sign-in-with-youtube {
    background: url('/assets/images/yt_logo_rgb_light.png') no-repeat;
    background-size: contain;
    height: 2rem;
    width: 7rem;
  }
}
