:host {
  $user-icon-size: 4rem;
  padding: 0.2rem 0;

  .navbar-link {
    line-height: 4rem;
    margin: 0;
    padding: 0;

    .user-icon {
      width: $user-icon-size;
      height: $user-icon-size;
      vertical-align: middle;
      border-radius: 50%;
      border: 1px solid var(--brand-primary);
      box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
    }
  }
}
