:host {
  $transparent-bg: rgba(255,255,255, .5);
  $cover-blur-size: 24rem;
  $cover-blur-value: 5px;
  $cover-blur-scale: 1.2;
  $thumbnail-top: 56px;
  $z-index-cover-items: 100;
  display: block;
  
  .playlist-cover {
    position: relative;
    padding-top: 3rem;
    margin-bottom: 1rem;
    overflow: hidden;
    height: $cover-blur-size - 3;

    .cover-bg {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      filter: blur($cover-blur-value);
      transform: scale(1.2$cover-blur-scale);
      height: $cover-blur-size;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }

    .playlist-thumbnail {
      z-index: $z-index-cover-items;
    }
  
    h4 {
      margin: 0;
      line-height: 5rem;

      span {
        font-weight: normal;
        position: relative;
        background-color: $transparent-bg;
        padding: 1rem;
      }
    }

    .actions {
      z-index: $z-index-cover-items;
      align-self: flex-end;
      text-align: left;

      .btn {
        color: white;

        &:hover {
          color: black;
        }
      }
    }
  }
}