:host {
  display: inline-block;
  .btn {
    border: 0;
    &.btn-default.active {
      background-color: var(--brand-primary);
      color: var(--brand-inverse-text);
    }
  }

  .btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }

  .btn-group > .btn:last-child:not(:first-child) {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
}