@import '~src/css/core/global.scss';

@media (min-width: 320px) {
  :host {
    .add-to-playlist {
      top: 0;
      left: 0;
      width: 100vw;
      height: 75vh;
      position: fixed;
      transform: none;
      transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
      z-index: $zindex-modal;
      background-color: var(--sidebar-bg);
      box-shadow: 0 0 20px -3px #000;
      padding: 2rem;
      overflow: hidden;
      will-change: transform;

      &.show-modal {
        transform: translateX(0) translateY(0);
      }
    }

    .thumb-image {
      top: 0;
      filter: blur(13px);
      opacity: 0.5;
      transform: translateX(65%) translateY(35%) scale(2);
      left: 0;
    }

    .header {
      top: 0;

      button-icon {
        right: 0;
        top: 0;
      }
    }
    .playlists {
      height: 100%;

      .playlist {
        width: 21rem;
      }
    }
    .content {
      max-height: 70vh;
      overflow: auto;
      position: relative;
    }
    .media-to-add {
      max-width: 200px;
      .title {
        color: var(--sidebar-text);
      }
    }
  }
}

@media (min-width: 768px) {
  :host {
    .add-to-playlist {
      top: 45%;
      left: 50%;
      width: 75vw;
      transform: translateX(-50%) translateY(-200%);

      &.show-modal {
        transform: translateX(-50%) translateY(-50%);
      }
    }
    .backdrop {
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: $zindex-navbar-fixed;
      background-color: rgba(0, 0, 0, 0.8);
    }
  }
}
