<div class="youtube-playlist-item ux-maker card">
  <section class="media-title front">
    <div class="media-thumb" [tooltip]="media.snippet.title">
      <div class="thumbnail">
        <img [src]="thumb" class="thumb-image">
      </div>

      <button class="btn btn-default btn-lg play-media" (click)="playPlaylist(media)">
        <i class="fa fa-play"></i>
      </button>
    </div>

    <section class="item-actions">
      <a class="playlist-link" [routerLink]="[ link + '/playlist', media.id ]" [tooltip]="media.snippet.title">
        <h4 class="title ellipsis">
          {{ media.snippet.title }}
        </h4>
        <span class="item-action badge badge-info">
          <i class="icon-list"></i>
          {{ media.contentDetails.itemCount }} videos
        </span>
      </a>
    </section>
  </section>
</div>