@import '~css/core/global.scss';

@media (min-width: 320px) {
  app-navbar {
    nav.navbar {
      margin-left: 0;
    }

    .user-icon {
      width: 4rem;
      height: 4rem;
      vertical-align: middle;
      border-radius: 50%;
      border: 1px solid #fff;
      box-shadow: 0 0 1px rgba(0,0,0,.5);
    }

    .navbar-collapse {
      display: inline-block;
    }
    .navbar-text {
      margin: 0 2rem 0 0;
      line-height: 5rem;
    }

    .navbar-brand {
      margin-left: 0 !important;
    }

    .navbar-actions {
      display: block;
    }
  }
}
@media (min-width: 768px) {
  app-navbar {
    nav.navbar {
      margin-left: $drawer-width;
    }
    .navbar-actions {
      display: block;
    }
  }

  .closed + .container-main app-navbar .navbar {
    margin-left: $sidebar-closed-width;
  }
}