@import '~css/core/global.scss';

@media (min-width: 320px) {
  app-navbar {
    $user-icon-size: 4rem;

    display: block;
  
    nav.navbar {
      margin-left: 0;
    }

    .user-icon {
      width: $user-icon-size;
      height: $user-icon-size;
      vertical-align: middle;
      border-radius: 50%;
      border: 1px solid #fff;
      box-shadow: 0 0 1px rgba(0,0,0,.5);
    }
    .navbar-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .navbar__content {
        flex: 2 0 0;
      }
    }

    .navbar-collapse {
      display: inline-block;
    }
    .navbar-text {
      margin: 0;
    }

    .navbar-brand {
      margin-left: 0 !important;
    }

    .navbar-actions {
      display: flex;
      flex: 1;
      flex-direction: row;
      justify-content: flex-end;
    }
  }
}
@media (min-width: 768px) {
  app-navbar {
    nav.navbar.navbar-fixed-top {
      margin-left: $drawer-width;
      padding-top: 1rem;
      padding-right: 2rem;
    }
  }

  .closed + .container-main app-navbar .navbar {
    margin-left: $sidebar-closed-width;
  }
}