<h3 class="nav-header nav-header-fluid user-playlists-filter">
	Now Playing
	<button class="btn btn-link btn-xs btn-clear" title="Clear All Tracks In Now Playlist"
		[disabled]="playlist?.videos?.length === 0"
		(click)="clearPlaylist()">
		<span class="fa fa-trash-o"></span>
	</button>
	<button class="btn btn-link btn-xs btn-save" title="Save All These Tracks To A New Playlist"
		ng-disabled="!nowPlaylistFilter.playlist.length"
		ng-click="nowPlaylistFilter.togglePlaylistSaver()">
		<span class="fa fa-cloud-upload"></span>
	</button>
	<div class="playlist-filter pull-right">
		<i class="fa fa-search" *ngIf="isFilterEmpty()"></i>
		<i class="fa fa-remove text-danger" *ngIf="!isFilterEmpty()" (click)="resetSearchFilter()"></i>
		<input type="search" name="playlist-search"
			[value]="playlist?.filter"
			#searchFilter
			(input)="handleFilterChange(searchFilter.value)">
	</div>
</h3>