@media (min-width: 320px) {
  :host {
    ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
    .youtube-list-item {
      width: 100%;
      max-width: 100%;

      &:hover {
        box-shadow: none;
      }
    }
  }
}
@media (min-width: 480px) {
  :host {
    .youtube-list-item {
      width: 33%;
    }
  }
}
@media (min-width: 767px) {
  :host {
    .youtube-list-item {
      max-width: 320px;
      width: 280px;
    }
  }
}

@media (min-width: 1440px) {
  :host {
    .youtube-list-item {
      width: 28rem;
    }
  }
}
