@import '~css/echoes-variables.scss';

@media (min-width: 320px) {
  :host {
    $track-badge-index: 10;
    $track-button: 15;
    $track-border-color: #262829;
    --track-badge-color: var(--brand-dark-bg-color);
    --track-active-border-color: var(--brand-primary);
    --track-bg-active-color: var(--brand-dark-bg-color-transparent);
    $remove-font-size: 1.5rem;
    $playlist-font-size: 1.3rem;
    --text-color: var(--brand-inverse-text);
    --track-active-border-color: var(--brand-primary);
    --track-bg-active-color: var(--brand-dark-bg-color-transparent);

    .now-playlist-track__trigger {
      color: rgb(201, 199, 199);
      text-shadow: none;
      padding: 1.5rem;
      border-bottom: 1px solid var(--sidebar-bg-secondary);
      
      .track-contents {
        display: flex;
        flex-direction: row;
      }

      .active & {
        // background: var(--track-bg-active-color);
        color: var(--text-color);
				box-shadow: inset 0px 0px 6px var(--track-bg-active-color);
				border-right: 6px solid var(--track-active-border-color);
				background: var(--track-bg-active-color);
      }
    }

    .track-number {
      position: absolute;
      left: 1.5rem;
      padding: 0.5rem;
      background-color: rgba(0,0,0,.9);
      font-size: 1rem;
      font-weight: bold;
    }

    .track-actions {
      position: absolute;
      top: 5rem;
      right: 1rem;
    }

    .track-info {
      max-height: 400px;
      overflow: auto;
    }
  
    .playlist-track {
      font-size: $playlist-font-size;
      display: inline-block;
    }

    // &.sv-helper {
    // 	background: #323538;
    // 	box-shadow: 0 0 1rem #000;
    // }

    .video-title {
      font-size: small;
      overflow: hidden;
      max-height: 6rem;
      min-height: 6.5rem;
    }

    .video-thumb {
      height: 4.8rem;
      width: 6.4rem;
      margin-right: 8px;
      // cursor: ns-resize;
      .video-thumb__image {
        height: 100%;
        // width: 95%;
      }
    }

    .remove-track {
      position: absolute;
      top: 1rem;
      right: 0rem;
      // display: block;
      z-index: $track-button;
      font-size: $remove-font-size;
      transform: translatex(-1rem);      
    }
    // .now-playlist-track__trigger {
    // a {
    //   display: block;
    //   min-height: 8.5rem;
    //   text-decoration: none;
    //   padding: 1rem 2rem 1rem 1.5rem;
    //   border-bottom: 1px solid $track-border-color;
    // }

    .badge-info {
      border-radius: 0;
      background: var(--track-badge-color);
      margin: 0 auto;
      display: block;
      font-size: 1rem;
      margin-top: 0;
      z-index: $track-badge-index;
      position: relative;
    }

    .track-tracks {
      margin: 1.5rem -1.5rem 0;
      border-top: 1px solid var(--track-active-border-color);

      .album-tracks-heading {
        margin: 0 2rem;
        color: var(--track-active-border-color);
        font-size: 1.5rem;
      }

      .list-group-item {
        border: none;
        color: var(--text-color);

        &:hover {
          color: var(--track-active-border-color);
        }
      }
    }
  }
}

@media (min-width: 768px) {
  :host {
    .remove-track {
      transform: translatex(5rem);
    }
    &:hover {
      .remove-track {
        transform: translatex(-1rem);
      }
    }

    .track-actions {
      .closed & {
        transform: translateX(20px);
      }
    }
    .track-info {
      .closed & {
        display: none;
      }
    }
    .track-tracks {

      .btn {
        font-size: 1.5rem;
      }
    }
  }
}