@import url(../../css/core/global.less);

@media (min-width: 320px) {
  app-navbar {
    nav.navbar {
      margin-left: 0;
    }
  }
}
@media (min-width: 768px) {
  app-navbar {
    nav.navbar {
      margin-left: @drawer-width;
    }
  }

  .closed + .container-main app-navbar .navbar {
    margin-left: @sidebar-closed-width;
  }
}