@import '~css/echoes-variables.scss';

:host .library-nav {
	.nav-header {
		padding: 1rem 2px 1rem 15px;
	}

	> li a:hover {
		background: rgba(10,10,10,.2);
	}

	.fa {
		margin-right: 10px;
	}

	.active a {
		$active-color: rgba(10,10,10, .5);
		color: white;
		box-shadow: inset 0px 0px 6px $active-color;
		background: $active-color;

		i {
			color: $brand-primary;
		}
	}
}
@media (min-width: 768px) {
	:host .closed {
		width: $sidebar-closed-width;
		a {
			text-indent: 0.6rem;
		}
		.text {
			display: none;
		}
	}
}