@import url(../../css/core/global.less);

youtube-videos {
	display: block;
}
youtube-videos {

	.nav-toolbar {
		margin-top: .6rem;
		display: inline-block;
		
		.btn {
			padding: 0.7rem 1.5rem;
		}
	}
}

@media (min-width: 320px) {
	youtube-videos {
		padding-top: 11rem;
		position: relative;
	}
}

@media (min-width: 768px) {
	youtube-videos {
		padding-top: 10rem;
		padding-left: 0;

		.videos-list {
			padding-left: 1.6rem;
		}
	}
}
