app-user {
  $user-nav-line-height: 5rem;

  article {
    padding-bottom: $user-nav-line-height;
    padding-top: ($user-nav-line-height + 4rem);
  }
  h2 {
    small {
      color: gray;
    }
  }
  .youtube-items-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .navbar-text {
    margin: 0 2rem 0 0;
    line-height: $user-nav-line-height;
  }
  
  .navbar-brand {
    line-height: $user-nav-line-height;
  }
}
