:host {
  overflow: hidden;
	position: absolute;
  z-index: 10;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;

  .media-bg {
    background-size: 40%;
    background-position: top;
    filter: blur(20px);
    box-shadow: none;
    height: 290px;
    transform: rotate(-20deg) translateY(-120px);
  }
}